<a href="https://colab.research.google.com/github/kingAnunay/Python-Book-idea/blob/main/lists%26tuples%26Sets%26Dictionary.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Python Collections (Arrays)** 
</br>There are four collection data types in Python Programming language.
1. **List** - ordered and changeable, allows duplicate members.
2. **Tuple** - ordered and unchangeable, allows duplicate members.
3. **Set** - unordered and unindexed, no duplicate members.
4. **Dictionary** - unordered and changeable, no duplicate members.

**Python Lists**

list are created in square brackets.
</br>***lists are ordered,changeable,allow duplicate values.***

In [ ]:
mylist = ["Apple","Banana","Cherry"]

In [ ]:
print(mylist)

['Apple', 'Banana', 'Cherry']

From Python's perspective,lists are defined as objects with the data type ***'list'***.

That's why it's possible to use the list() constructor when creating a new list.

In [ ]:
thislist = list(("Apple","Banana","Cherry"))

In [ ]:
print(thislist)

['Apple', 'Banana', 'Cherry']

In [ ]:
if "Apple" in thislist:
  print("Yep")

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist[1:2] = "blackcurrant", "watermelon"
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'cherry']

In [ ]:
type(thislist)

list

In [ ]:
thislist.insert(2,"few")
print(thislist)

['apple', 'blackcurrant', 'few', 'watermelon', 'cherry']

In [ ]:
thislist.append(2)

In [ ]:
print(thislist)
print(thislist[-2])

['apple', 'blackcurrant', 'few', 'watermelon', 'cherry', 2]
cherry

In [ ]:
new = thislist.extend(mylist)

In [ ]:
print(new)

None

In [ ]:
thislist

['apple',
 'blackcurrant',
 'few',
 'watermelon',
 'cherry',
 2,
 'Apple',
 'Banana',
 'Cherry',
 'Apple',
 'Banana',
 'Cherry',
 'Apple',
 'Banana',
 'Cherry']

In [ ]:
var = 'foo'
var

'foo'

In [ ]:
print(var)
print(repr(var))

foo
'foo'

In [ ]:
newemptylist = []

In [ ]:
type(newemptylist)

list

Here How does clear() return H I don't understand what is the meaning I don't understand.

In [ ]:
clear()

In [ ]:
# i = 0 
for i in range(10) :
  newemptylist.append(i)
  # print(newemptylist[-1])
print(newemptylist)
print(len(newemptylist))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
60

In [ ]:
print(newemptylist)

[1, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9]